
body {
     background: linear-gradient(179.51deg, #F03838 -3.31%, rgba(250, 192, 192, 0.316557) 182.64%, rgba(255, 255, 255, 0) 220.56%), #FFF8F8;
    background-size: auto 730px;
    background-repeat: no-repeat;
    font-family: "Open Sans";
}

@media screen and (max-width: 1000px)
{
    body{
        background-size: auto 730px;
        /* min-width: 320px; */
    }
}


header {
    display: block;
    margin-left:auto;
    margin-right: auto;
    max-width: 1440px;
    /* min-width: 320px; */
}
.logo {
    font-family: Courgette;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .logo {
    display: inline-block;
}

@media screen and (min-width: 1000px)
{
    header .logo {
        display: inline-block;
        margin-top: 15px;
        margin-left: 45px;
    }
}

.logo a {
    text-decoration-line: none;
    color: white;
}
.logo a:hover{
    text-decoration-line: none;
}

header nav {
    display: block;
    float: right;
    margin-top: 10px;
    padding: 4px;
}

nav a{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.105em;
    color: black;
    vertical-align: middle;
}


.hamburger{
    display: none;
}

@media screen and (max-width: 1000px)
{
    header nav {
        display: none;
        border-radius: 20px;
        background: white;
        position: relative;
        margin-left: 1000px;
        box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.25);
    }

    header nav a {
        display: inline-block;
    }

    .hamburger
    {
        display: block;
        float: right;
    }
}

@media screen and (min-width: 1000px)
{
    nav {
        display: block!important;
    }

    nav a {
        display: inline-block!important;
    }
}

.rectangle {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    padding-top:7px;
    border: 1px solid #000000;
    border-radius: 34px;
}

.line {
    display: inline-block;
    vertical-align: middle;
    margin:0;
    padding:0;
    border: 0.5px solid #000000;
    height: 40px;
}

@media screen and (max-width: 1000px)
{
    .rectangle{
        display: none;
    }

    .line {
        display: none;
    }
}

a {
    text-decoration-line: none;
    color: black;
}

a:hover{
    text-decoration-line: underline;
}

#about
{
    margin-top: 88px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    max-width: 1100px;
    /* min-width: 320px; */
}

@media screen and (max-width: 1000px)
{
    #about {
        margin-top: 20px;
        display: block;
        margin-left:auto;
        margin-right:auto;
        max-width: 1100px;
        /* min-width: 320px; */
        min-height: 600px;
    }
}

#about .hand
{
    margin-left:auto;
    margin-right: 0px;
    display: inline-block;
}

#about .mobile-background{
    display:none;
}

@media screen and (max-width: 1000px)
{
    #about img.hand{
        display: none;
    }

    #about .mobile-background {
        display: block;
        position: absolute;
        width: 258px;
        height: 475px;
        top:50%;
        left:50%;
        transform: translate(-50.5%,-39.3%);
        z-index: -1;
    }
}


@media screen and (min-height: 320px)
{
    #about .mobile-background {
        top: 80%;
    }
}

@media screen and (min-height: 450px)
{
    #about .mobile-background {
        top: 60%;
    }
}

@media screen and (min-height: 600px)
{
    #about .mobile-background {
        top: 50%;
    }
}

@media screen and (min-height: 750px)
{
    #about .mobile-background {
        top: 40%;
    }
}

@media screen and (min-height: 900px)
{
    #about .mobile-background {
        top: 35%;
    }
}

#about .banner-description {
    margin-left: 0px;
    margin-right: 150px;
    margin-top: 30px;
    display: block;
    float: right;
    max-width: 440px;
}

.back-white-b{
    display: block;
    background: white;
    border-radius: 30px;
}

@media screen and (max-width:1000px)
{
    #about .banner-description {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
        float: none;
        max-width: 600px;
        text-align: center;
    }

    #about .banner-description p {
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.25);
    }

    #about .banner-description h3 {
        background-color: white;
        border-radius: 20px;
        line-height: 35px;
        font-size: 20px;
        display: inline-block;
        padding: 10px;
        box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.25);
    }

    #about .banner-description button p{
        background: none;
        box-shadow: none;
    }
}

h3{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 49px;
    letter-spacing: 0.09em;
    color: black;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.09em;
}

button {
    background: none;
    width: 190px;
    height: 65px;
    display: inline-block;
    border: 3px solid #2F2C2C;
    border-radius: 18px;
    padding: 0px;
    margin-right: 0px;
    vertical-align: middle;
    box-sizing: border-box;
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.25);
}

button p{
    display: inline-block;
    vertical-align: middle;
    border: none;
    margin:0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    margin-left: 10px;
    letter-spacing: 0.105em;
    /* animation */
}

button img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0px;
    padding: 0;
    border: none;
}

button.apple p{
    margin-left: 10px;
    color: white;
}

button.apple {
    background: #2F2C2C;
}

button.android{
    margin-right: 40px;
    background: #2F2C2C;
    color: white;
}

@media screen and (max-width: 1000px)
{
    button.android{
        margin-right: 20px;
    }
}

@media screen and (max-width: 450px)
{
    button.android{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    button.apple{
        margin-top: 20px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

button:hover {
    cursor: pointer;
}

button.android:hover{
    transition: All 1s ease;
    border: 3px solid white;
    
}

button.apple:hover{
    transition: All 1s ease;
    border: 3px solid white;
    
}

#features {
    margin-top: 185px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    max-width: 1100px;
    /* min-width: 320px; */
    text-align: center;
}

main h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.095em;
    color: #000000;
    padding: 0;
    margin: 0;
}

main h2 {
    font-weight: 300;
    font-size: 28px;
    line-height: 25px;
    text-align: center;
    color:#676767;
    margin: 0;
    padding: 0;
}

#features .feature {
    margin-top: 60px;
    display: inline-block;
    vertical-align: middle;
    max-width: 275px;
    height: 355px;
    padding: 25px;
    box-shadow: 10px 15px 70px rgba(0, 0, 0, 0.25);
}

#features .feature.second {
    margin-right: 40px;
    margin-left: 40px;
}

@media screen and (max-width: 1050px)
 {
    #features .feature.second {
        margin-right: 0px;
    }
 }

 @media screen and (max-width: 700px)
 {
     #features .feature
     {
         display: block;
         max-width: 275px;
         height: auto;
         margin-left: auto;
         margin-right: auto;
     }

     #features .feature.second{
         margin-left: auto;
         margin-right: auto;
     }
 }

.feature h5 {
    letter-spacing: 0.09em;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

.feature p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.09em;
    color: #757575;
}

.feature img{
    margin-top: 10px;
}

#screens {
    margin-top: 185px;
}

#reviews {
    margin-top: 175px;
}

#download-last {
    margin-top: 185px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    /* min-width: 320px; */
}

#download-last .content{
    margin-top: 65px;
    text-align: center;
}

#download-last button {
    background: none;
}

#download-last button p{
    color: black;
}

#download-last button:hover{
    background-color: #2F2C2C;
    border:none;
}

#download-last button:hover p{
    color:white;
}

.nulp-logo {
    display:inline-block;
    margin-top: 55px;
}

footer {
    margin-top:70px;
    background-color: #4A4444;
    color: white;
    display: block;
    min-height: 400px;
    left: 0;
    position: absolute;
    width: 100%;
}

footer .content{
    display: block;
    max-width: 1100px;
    /* min-width: 400px; */
    margin-left: auto;
    margin-right: auto;
}

footer .content .logo{
    margin-top: 70px;
    text-align: center;
}

footer .content nav {
    margin-top: 40px;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

footer .content nav a{
    color: white;
    letter-spacing: 0.105em;
    font-style: normal;
    font-weight: normal;
}

footer .content .icons {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

footer .content .icons a {
    display: inline-block;
    margin-right: 15px;
}

footer .content .icons a img{
    filter: drop-shadow( 4px 6px 4px #000000);
}

footer .content .icons a:hover img{
    filter: drop-shadow( 4px 6px 4px #F03838);
}

footer .content p {
    display: block;
    float: inline-end;
    text-align: center;
    margin-top: 60px;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    color: white;
}